@use "sass:color";

@use "@material/theme/color-palette";

// Svelte Colors!
@use "@material/theme/index" as theme with (
  $primary: color-palette.$teal-700,
  $secondary: color-palette.$pink-300,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

:root {
  color-scheme: light;
  --primary-theme-color: #{theme.$primary};
}

html,
body,
.base-theme-colors {
  background-color: theme.$background;
  color: theme.$on-surface;
}

a {
  color: theme.$primary;
}
a:visited {
  color: color.scale(theme.$primary, $lightness: -35%);
}

.error {
  color: theme.$error;
}

.cat {
  /* Material Blue 700 */
  color: #1976d2;
}

.catfish {
  /* Material Red 800 */
  color: #d32f2f;
}

.spectator {
  /* Material Blue Grey 500 */
  color: #607d8b;
}
